/* .main_task_btm {
    margin-bottom: 10px;
}
.current_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

.currentTaskHeader {
    text-align: center;
}

.categoryHeading {
    padding: 20px;
    font-size: 30px;
}
.taskLiItem {
    display: flex;
}

.currentTaskCheckbox {
    margin-right: 10px;
}
