.task_input {
    position: fixed;
    bottom: 0;
    width: 50%;
    display: block;
    height: 5vh;
    border: 1px solid #a6aeae;
    padding: 10px;
    margin: 20px;
    margin-left: 30px;
    border-radius: 5px;
}
