.rightNav {
    margin-left: 20px;
    width: 20%;
    height: 80vh;
    background-color: #f0f1ff;
}
.main_task_btm {
    margin-bottom: 10px;
}
.show_btm {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #6f81fd;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.taskContainer {
    max-width: 97%;
    display: flex;
}

.CurrentTaskContainer {
    margin-left: 20px;
    width: 95%;
}
